 /*
	Common CSS File.
	
	Author: Quynh Nguyen (quynhnnguyen), Maryam Munir, Yatri and Peter.
	
 */
 /* Quynh Nguyen - css block - start */
 body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    /*color: #818181;*/
	color: white;
	background-color: black;
 }
  
 h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
 }
  
 h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
 }  
  
 .container-fluid {
    padding: 60px 50px;
 }
  
 .logo {
    color: #f4511e;
    font-size: 200px;
 }
 
 .navbar-brand img, .logoImage {
	position: absolute;
	width: 75px;
	height: 75px;
	display: inline-block;
 }
 
 .inlineDisplay {
	display: inline-block;
 }
 
 .welcomeText {
	padding-left: 90px;
    padding-top: 50px;
 }
 
 .navbar-brand-override {
	height: 100px;
 }
 
 .nav-override {
	padding-top: 50px;
 }
 
 .tabContent {
	padding-top: 100px;
 }
 
 .tip {
	visibility: hidden;
	position: absolute;
	left: 30%;
	background-color: green;
	color: yellow;
}

.contentPaddingDiv {
	padding-top: 50px;
}

.agenciesDiv {
	height: 380px;
	overflow: auto;
}

.agentsDiv {
	height: 340px;
	overflow-x: auto;
	margin: 20px 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
 
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
 
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
 
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
  
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
 
.agentWell {
	background-color: #fcf8e3;
	color: blue;
	height: 320px;
    width: 280px;
	margin-left: 15px;
	padding-top: 50px;
	text-align: center;
}
 
.bannerDiv {
	/*forest photo*/
	background-image: url(/img/forest.jpg);
	height: 200px;
}
 
.halfTopBodyDiv {
	/*raindeer photo*/
	background-image: url(/img/banner3.jpg);
	border-radius: 6px;
}
 
.footerDiv {
	margin-top: 10px;
}

.agentImg {
		width: 75px;
		height: 75px;
		text-align: center;
}

.socialIcon {
	width: 45px;
	height: 45px;
	text-align: center;
}

.socialMenu {
	text-align: center;
	height: 55px;
	vertical-align: middle;
}

.authenticationIcon {
	width: 100px;
	height: 45px;
	text-align: center;
}

.loginSection {
	align: center;
}

/* Quynh Nguyen - css block - end */

/* Maryam Munir - css block -start */
.slideImg {
	vertical-align: middle;
}

.mySlides {display: none;}

* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
* {box-sizing: border-box;}

/* Maryam Munir - css block - end */