 body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
 }
  
 h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
 }
  
 h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
 }  
  
 .container-fluid {
    padding: 60px 50px;
 }
  
 .logo {
    color: #f4511e;
    font-size: 200px;
 }
 
  .navbar-brand img, .logoImage {
	position: absolute;
	width: 75px;
	height: 75px;
	display: inline-block;
 }
 
 .inlineDisplay {
	display: inline-block;
 }
 
 .welcomeText {
	padding-left: 90px;
    padding-top: 50px;
 }
 
 .navbar-brand-override {
	height: 100px;
 }
 
 .nav-override {
	padding-top: 50px;
 }
 
 .tabContent {
	padding-top: 100px;
 }
 
 .tip {
				visibility: hidden;
				position: absolute;
				left: 30%;
				//top: 50%;
				background-color: green;
				color: yellow;
			}
